<div class="container">
    <div class="my-jumbotron-wrap">
        <div class="jumbotron">
            <h1>WSB CRM</h1>
            <h4>Projekt zaliczeniowy na przedmiot <a href="https://moodle2.e-wsb.pl/course/view.php?id=12248">Projektowanie Aplikacji Internetowych</a></h4>
            <p>W zakładce Tabela znajduje się w pełni funkcjonalny CRM.</p>
            <p>System umożliwia dodawanie, usuwanie i edycję firm wraz z jej właścicielami.</p>
            <p>Program został wykonany w technologii <a href="http://www.asp.net/">ASP.NET</a></p>
        </div>
    </div>
</div>